/* global.scss */

//colors
$primary-color: #f9d783;
$secondary-color: #6c757d;
$primary-background: #F0EFE9;
$black: #000;
$white: #fff;
$hover-color: #0069d9;
$footer-background: #0e1021;

//reusable classes

.icon {
    margin-right: 5px;
}

a {
    color: $black;
    text-decoration: none;
    &:hover {
        color: $hover-color;
    }
}

.primary-button {
    background-color: $primary-color;
    color: $black;
    border-radius: 30px;
    width: 122px;
    height: 48px;
}

.secondary-button {
    background-color: $white;
    color: $black;
    border-radius: 30px;
    width: 122px;
    height: 48px;
}

.black-btn {
    background-color: $black;
    border-radius: 30px;
    color: $white;
}

ul {
    list-style-type: none;
}

.icon-left {
    margin-left: 5px;
}

.social-media-icon {
    margin-right: 10px;
}



body {
    font-family: Inter;
    font-size: 16px;
    color: #333;
}

// header
.container {
    background-color: $primary-background;

    header {
        img {
            padding: 2rem 2rem;
        }
    
        .border-left {
            border-left: 1px solid #ccc;
            padding-left: 15px;
        }
    
        .border-bottom {
            border-bottom: 1px solid #ccc;
            margin-top: 1rem;
        }
    
        .company-info {
            display: flex;
            flex-wrap: wrap;
            // width: 300px;
            li {
                font-size: 15px;
            }
        }
    
        .social-media-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            li {
                margin-right: 1rem;
            }
        }
    
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            .nav-list {
                display: flex;
                justify-content: space-between;
                width: 306px;
            }
        }
    }
}


// banner section
.banner-container {
    .title-container {
        padding: 2rem;
        h1 {
            // font-size: 6rem;
            font-size: 3rem;
            font-weight: bold;
            font-family: sans-serif;
            // line-height: 100px;
        }
    
        .banner-text {
            font-size: 1.25rem;
            line-height: 32px;
        }
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .get-consulting-btn {
            width: 208px;
        }
        
        .learn-more-btn {
            width: 180px;
            margin: 2rem 0;
        }
    }

    img {
        width: 100%;
        margin-bottom: 2rem;
    }
}

// features section
.features-container {
    border: 1px solid rgba(25,25,25,0.2);
    border-radius: 2px;
    // height: 600px;
    padding: 5rem 2rem;
    margin-bottom: 5rem;

    .features {
      i {
        padding-top: 2rem;
      }
    }

.feature-learn-more-btn {
    // width: 460px;
    width: 100%;
}

.red-title {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;   
    line-height: 22px;
    font-style: normal;
    text-align: left;
    // letter-spacing: -10px;
    color: #f94d1c;
}

h3 {
    font-family: "DM Sans";
    // font-size: 45px;
    font-size: 35px;
    font-weight: bold;
    line-height: 54px;
    font-style: normal;
    text-align: left;
    color: #191919;
}

.feature-title {
    font-family: "DM Sans";
    font-size: 22px;
    font-weight: bold;
    line-height: 33px;
    font-style: normal;
    text-align: left;
    color: #191919;
}
}

// about section
.about-company-container {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        font-style: normal;
        text-align: left;
        color: #f94d1c;
    }

    h6 {
        font-family: "DM Sans";
        // font-size: 45px;
        font-size: 35px;
        font-weight: bold;
        line-height: 54px;
        font-style: normal;
        text-align: left;
        color: #191919;
        margin-top: 2rem;
        padding: 0 2rem;
    }

    .img-container {
        width: 100%;
        // height: 50px;
        img {
            width: 100%;
            // position: absolute;
        }
        .quote-box {
            // width: 368px;
            // height: 180px;
            // position: relative;
            top: 270px;
            bottom: 0;
            height: 130px;
            // width: 100px;
            padding: 0 1rem;
            filter: drop-shadow(0px 18px 20px rgba(44,44,44,0.15 ));
            background: #beebff;
    
            p {
                font-family: "DM Sans";
                font-size: 16px;
                font-weight: bold;
                line-height: 30px;
                font-style: normal;
                text-align: left;
            }
            span {
                color:#F94D1C
            }
    
            .quote {
                font-family: "Inter";
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                font-style: italic;
                color: #191919;
            }
        }
    }
   

    p {
        font-family: "Inter";
        font-size: 16px;
        font-weight: normal;
        line-height: 32px;
        font-style: normal;
        color: rgba(25,25,25,0.7 );
        padding: 0 1rem;
        margin-top: 0;
    }

    .learn-more-btn {
        width: 180px;
        height: 56px;
    }

    .video-btn-container {
        margin: 2rem 0;
        .play-btn {
            width: 48px;
            height: 48px;
            background-color: $white;
            border: 1px solid #191919;
            border-radius: 30px;
            margin-right: 1rem;
        }
    
        .intro-video {
            font-family: "Inter";
            font-size: 16px;
            font-weight: normal;
            line-height: 16px;
            font-style: normal;
            text-align: center;
            color: #191919;
        }
    }
}

// our services section
.our-services-container {
    background: #f0efe9;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        background-color: $white;
        padding: 0 2rem;
        width: 80%;
        margin-bottom: 2rem;
        &:hover {
            background-color: $primary-color;
        }
        &:hover button {
            background-color: $white;
            color: $black;
        }
        button {
            background-color: $black;
            color: $white;
            width: 56px;
            height: 56px;
            border-radius: 30px;
        }
    }

    span {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #f94d1c;
    }

    h6 {
        font-family: "DM Sans";
        // font-size: 45px;
        font-size: 35px;
        font-weight: bold;
        line-height: 54px;
        font-style: normal;
        text-align: left;
        color: #191919;
    }

    .service-title {
        font-family: "DM Sans";
        font-size: 22px;
        font-weight: bold;
        line-height: 33px;
        font-style: normal;
        text-align: left;
        color: #191919;
    }

    button {
        width: 221px;
        height: 56px;
        background: #f0efe9;
        margin: 3rem 0;
        &:hover {
            background-color: $primary-color;
        }
    }
}

// why choose us section
.choose-us-container {
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        font-style: normal;
        text-align: left;
        // letter-spacing: -10px;
        color: #f94d1c;
    }

    h6 {
        font-family: "DM Sans";
        // font-size: 45px;
        font-size: 35px;
        font-weight: bold;
        line-height: 55px;
        font-style: normal;
        text-align: left;
        color: #191919;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .list-title {
        font-family: "DM Sans";
        font-size: 22px;
        font-weight: bold;
        line-height: 33px;
        font-style: normal;
        text-align: left;
        color: #191919;
    }

    i {
        margin-top: 2rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    li {
        font-family: "Inter";
        font-size: 16px;
        font-weight: normal;
        line-height: 28px;
        font-style: normal;
        text-align: left;
        color: rgba(25,25,25,0.7 );
    }

    img {
        width: 100%;
    }

    .img-bg {
        // background: #f0efe9;
        // width: 1057px;
        // height: 425px;
        display: none;
    }
}

// project and case studies section
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        font-style: normal;
        text-align: center;
        color: #f94d1c;
    }

    h6 {
        font-family: "DM Sans";
        font-size: 45px;
        font-weight: bold;
        line-height: 55px;
        font-style: normal;
        text-align: center;
        color: #191919;
        margin-top: 2rem;
    }
    
    img {
        // width: 645px;
        width: 100%;
        height: 311px;
    }

    .border-bottom {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(25,25,25,0.2);
        margin-bottom: 3rem;
    }

    .read-more {
        text-align: end;
    }

    button {
        width: 238px;
        height: 56px;
        margin-bottom: 3rem;
    }
}

// meet our team section
.team-container {
    background-color: $primary-color;

    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            color: #f94d1c;
            padding-top: 2rem;
        }

        h6 {
            font-family: "DM Sans";
            // font-size: 45px;
            font-weight: bold;
            line-height: 55px;
            font-style: normal;
            text-align: left;
            color: #191919;
            font-size: 35px;
            padding: 0 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem; 
        }

        button {
            margin-bottom: 3rem;
            width: 221px;
            height: 56px;
        }
    }

    .team-member-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;

        h6 {
            font-family: "DM Sans";
            font-size: 22px;
            font-weight: bold;
            line-height: 33px;
            font-style: normal;
            text-align: left;
            color: #191919;
            margin-bottom: 1rem;
        }

        p {
            font-family: "Inter";
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            font-style: normal;
            text-align: left;
            color: rgba(25,25,25,0.7 );
        }
    }

// testimonial section
    .testimonials-container {
        background-color: $white;
        padding-top: 5rem;

        span {
            font-family: "Inter";
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            font-style: normal;
            text-align: center;
            // letter-spacing: -10px;
            color: #f94d1c;
        }

        .customer-role {
            padding-bottom: 3rem;
            color: #f94d1c;
        }

        h6 {
            font-family: "DM Sans";
            font-size: 45px;
            font-weight: bold;
            line-height: 55px;
            font-style: normal;
            text-align: center;
            color: #191919;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }

        button {
            width: 181px;
            height: 56px;
        }
    }
}

// article and news section
.blog-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;

    .red-title {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        font-style: normal;
        text-align: left;
        color: #f94d1c;
    }

    .blog-title {
        h4 {
            font-family: "DM Sans";
            font-size: 35px;
            font-weight: bold;
            line-height: 55px;
            font-style: normal;
            text-align: left;
            color: #191919;
            margin-top: 2rem;
        }
    
        button {
            width: 221px;
            height: 56px;
            margin-bottom: 1rem;
    
            &:hover {
                background-color: $primary-color;
            }
        }
    }

    .blog-content {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: 230px;
        }

        span {
            font-family: "Inter";
            font-size: 16px;
            font-weight: normal;
            line-height: 26px;
            font-style: normal;
            text-align: left;
            color: #6a6c71;
            margin-top: 1rem;
        }
        h6 {
            font-family: "DM Sans";
            font-size: 22px;
            font-weight: bold;
            line-height: 33px;
            font-style: normal;
            text-align: left;
            color: #191919;
            margin-top: 1rem;
            margin-bottom: 0;
        }
    
        p {
            font-family: "Inter";
            font-size: 16px;
            font-weight: normal;
            line-height: 28px;
            font-style: normal;
            text-align: left;
            color: rgba(25,25,25,0.7 );
            margin-bottom: 4rem;
        }
    }
}

.subscribe-container {
    background-color: $primary-background;
    padding: 1rem 1rem;

    h4 {
        font-family: "DM Sans";
        font-size: 35px;
        font-weight: bold;
        line-height: 55px;
        font-style: normal;
        text-align: left;
        color: #191919;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;

        input {
            border-radius: 30px;
            width: 100%;
            height: 56px;
            margin-right: 1rem;
        }
    
        button {
            width: 100%;
            height: 56px;
            margin-bottom: 2rem;
        }
    }

    .img-container {
        display: flex;
        justify-content: end;
    }
}

footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $footer-background;
        color: $white;
        padding: 2rem 2rem;

        .footer-top-part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,0.2);

            p {
                font-family: "Inter";
                font-size: 16px;
                font-weight: normal;
                line-height: 26px;
                font-style: normal;
                text-align: left;
                color: rgba(255,255,255,0.7 );
            }
    
            .footer-links {
                display: flex;
                flex-direction: column;
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .footer-link-title {
                        color: $white;
                        font-family: "DM Sans";
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 33px;
                        font-style: normal;
                        text-align: left;
                    }

                    a {
                        font-family: "Inter";
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 40px;
                        font-style: normal;
                        text-align: left;
                        color: rgba(255,255,255,0.7 );
                    }
                }
               }
        }
        
           .footer-bottom-part {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-between;
                  margin-top: 1rem;
                  max-width: 1270px;

                  .footer-icons {
                    display: flex;
                    flex-direction: row;
                }
       }
}







@media screen and (min-width: 576px) {
    .blog-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .blog-content {
            width: 400px;
            img {
                width: 400px;
                height: 230px;
            }
        }
        
    }
  

   footer {  
    .footer-top-part {
        .footer-links {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
           }
    }
   }
  
}

@media screen and (min-width: 1200px) {
    .blog-container {
        max-width: 1320px;

        .blog-title {
            display: flex;
            justify-content: space-between;
            h4 {
                font-size: 45px;
                margin-top: 0;
            }

            button {
                margin-bottom: 0;
            }
        }

        .content-container {
            display: flex;
            
            .blog-content {
                margin-right: 2rem;
                img {
                    width: 380px;
                }
            }
    }
    }

    .subscribe-container {
        display: grid;
        grid-template-columns: 30% auto 200px;
        max-width: 1440px;

        h4 {
            font-size: 45px;
        }

        form {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            max-width: 700px;

            input {
                width: 308px;
            }

            button {
                margin-bottom: 0;
                width: 171px;
            }
        }

        .img-container {
            align-items: end;
        }

    }

    footer {
        .footer-top-part {
            flex-direction: row;
            max-width: 1440px;
    
            .footer-description {
                width: 30%;
            }
        }
    
       .footer-bottom-part {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        max-width: 1440px;
 }
    }
}

@media screen and (min-width: 1400px) {
    .blog-container {
        .content-container {
            .blog-content {
                img {
                    width: 420px;
                }
            }

        
    }
       
    }
}