@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

/* global.scss */

//colors
$primary-color: #f9d783;
$secondary-color: #6c757d;
$primary-background: #F0EFE9;
$black: #191919;
$white: #fff;
$light-border: #E5E5E5;
$footer-background: #0e1021;
$footer-text-color: rgba(255,255,255,0.7 );

$font-inter: "Inter", sans-serif;
$font-dm-sans: "DM Sans", sans-serif;


//reusable classes

.btn-yellow {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $black;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: $black;
        border: 1px solid $black;
        color: $primary-color;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid $black;
    color: $black;
    border-radius: 25px;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: $black;
        border: 1px solid $black;
        color: $white;
    }
}

.btn-black {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9px;
        color: $primary-color;
    }

    &:hover {
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }
}

.section-title {
    padding-top: 70px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }

      p {
        color: red;
      } 
      
      h2 {
        color: $black;
        font-family: $font-dm-sans;
        font-weight: 700;
        font-size: 45px;
      }
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.icon-left {
    margin-left: 5px;
}

.social-media-icon {
    margin-right: 10px;
}

a {
    color: $black;
    text-decoration: none;
}