@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

/* global.scss */

//colors
$primary-color: #f9d783;
$secondary-color: #6c757d;
$primary-background: #F0EFE9;
$black: #191919;
$white: #fff;
$light-border: #E5E5E5;
$border: #DAD9D3;
$red: red;
$footer-background: #0e1021;
$footer-text-color: rgba(255,255,255,0.7 );
$text-with-alpha: rgba(25, 25, 25, 0.7);

//fonts
$font-inter: "Inter", sans-serif;
$font-dm-sans: "DM Sans", sans-serif;


//reusable classes
.btn-yellow {
    font-family: "Inter";
    font-weight: normal;
    text-align: center;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $black;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 25px;
    transition: 0.3s;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: $black;
        border: 1px solid $black;
        color: $primary-color;
    }
}

.btn-transparent {
    font-family: "Inter";
    text-align: center;
    background-color: transparent;
    border: 1px solid $black;
    color: $black;
    border-radius: 25px;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: normal;
    font-size: 16px;
    transition: 0.3s;


    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: $black;
        border: 1px solid $black;
        color: $white;
    }
}

.btn-black {
    font-family: "Inter";
    text-align: center;
    background-color: $black;
    border: 1px solid $black;
    color: $white;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: normal;
    font-size: 16px;
    border-radius: 25px;
    transition: 0.3s;


    i {
        margin-left: 8px;
        font-size: 15px;
        // color: $white;
    }

    &:hover {
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }
}

.section-title {
    padding-top: 70px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }

      p {
        color: red;
      } 
      
      h2 {
        color: $black;
        font-family: $font-dm-sans;
        font-weight: 700;
        font-size: 35px;

        @media (min-width: 1200px) {
            font-size: 45px;
        }
      }
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.icon-left {
    margin-left: 5px;
}

.social-media-icon {
    margin-right: 10px;
}

a {
    color: $black;
    text-decoration: none;
}

// header
header {
    background-color: $primary-background;
    padding: 16px;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

        .logo {
            padding-bottom: 50px;
        }

        .hamburger-btn {
            border: none;
            background-color: transparent;
            font-size: 25px;

            &:hover {
                cursor: pointer;
                color: $primary-color;
            }
    
            @media (min-width:992px) {
                 display: none;
            }
        }

        .menu {
            display: none;   
            flex: 1;
               
            @media (min-width:992px) {
                display: block;
            }
    
            .top-menu {
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid $border;
                padding-bottom: 10px;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }

                .contact-information {
                    display: none;

                    @media (min-width: 1200px) {
                        display: flex;
                    }
                    
                    .contact-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid $border;

                        &.last {
                            border: none;
                        }

                        i {
                            margin-right: 5px;
                        }
                    }
                }

                .social-media {
                    a {
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

        .main-menu {
            display: flex;
            justify-content: space-between;
            margin-top: 35px;

            nav {
                a {
                    margin-right: 35px;
                    position: relative;
                    display: inline-block;

                    &.active {
                        font-weight: 600;
                    }
                    
                    &.active::after,
                    &:hover::after {
                        content: '';
                        font-weight: 500;
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        background-color: $black;
                        left: 50%;
                        bottom: -3%;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }
        }
        }
    }
}

//footer
footer {
    background-color: $footer-background;
    position: relative;
    z-index: 0;
    padding-top: 80px;

    .background-lines {
        opacity: 0.40;
        position: absolute;
        bottom: 145px;
        right: 0;
        z-index: -1;
        overflow: hidden;

        @media (min-width: 511px) {
            bottom: 121px;
        }

        @media (min-width: 576px) {
            bottom: 121px;
        }

        @media (min-width: 768px) {
            // bottom: 120px;
        }

        @media (min-width: 996px) {
            bottom: 97px;
        }

        img {
            width: 100%;
        }
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;

        .footer-top-part {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
            padding-bottom: 60px;

            @media (min-width: 1200px) {
                flex-direction: row;
                margin-top: 1rem;
            }

            .footer-description {
                width: 100%;
                @media (min-width: 1200px) {
                    width: 30%;
                }

                img {
                    padding-bottom: 20px;
                }
    
                p {
                    font-family: $font-inter;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 26px;
                    font-style: normal;
                    text-align: left;
                    color: $footer-text-color;
                }
            }
    
            .footer-links {
                width: 100%;
                display: flex;
                flex-direction: column;
    
                @media (min-width: 576px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }
    
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .footer-link-title {
                        color: $white;
                        font-family: $font-dm-sans;
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 33px;
                        font-style: normal;
                        text-align: left;
                        padding-bottom: 20px;
                    }
    
                    a {
                        font-family: $font-inter;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 40px;
                        font-style: normal;
                        text-align: left;
                        color: $footer-text-color;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        } 
    }

    .footer-border-bottom {
        border-top: 1px solid rgba(255,255,255,0.2 );
    }
    .container {
        .footer-bottom-part {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            padding: 20px 0;

            @media (min-width: 996px) {
                flex-direction: row;
                justify-content: space-between;
            }
            
            p {
                color: $footer-text-color;
            }
    
            .social-media {
                display: flex;
                flex-direction: row;
    
                a {
                    margin-right: 20px;

                    &:hover i {
                        color: $primary-color;
                    }

                    i {
                        color: $white;

                       
                    }
                }
            }
        }  
    }
}