@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Inter;
  font-size: 16px;
  color: #333;
  margin: 0;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .header-container .hamburger-btn {
  border: none;
  background-color: transparent;
  font-size: 25px;
}
@media (min-width: 992px) {
  header .header-container .hamburger-btn {
    display: none;
  }
}
header .header-container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .header-container .menu {
    display: block;
  }
}
header .header-container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .header-container .menu .top-menu {
    justify-content: space-between;
  }
}
header .header-container .menu .top-menu .contact-information {
  display: none;
}
@media (min-width: 1200px) {
  header .header-container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .header-container .menu .top-menu .contact-information .contact-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
}
header .header-container .menu .top-menu .contact-information .contact-box.last {
  border: none;
}
header .header-container .menu .top-menu .contact-information .contact-box i {
  margin-right: 5px;
}
header .header-container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
header .header-container .menu .main-menu nav a {
  margin-right: 35px;
  position: relative;
  display: inline-block;
}
header .header-container .menu .main-menu nav a.active {
  font-weight: 600;
}
header .header-container .menu .main-menu nav a.active::after, header .header-container .menu .main-menu nav a:hover::after {
  content: "";
  font-weight: 500;
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3%;
  transform: translate(calc(50% - 15px));
}

.showcase-section {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase-section .lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.showcase-section .container {
  padding-bottom: 50px;
}
@media (min-width: 1200px) {
  .showcase-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
}
.showcase-section .container .showcase-left .title-container {
  padding: 2rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase-section .container .showcase-left .title-container {
    padding: 0;
    text-align: left;
  }
}
.showcase-section .container .showcase-left .title-container h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "DM Sans";
}
@media (min-width: 768px) {
  .showcase-section .container .showcase-left .title-container h1 {
    font-size: 60px;
  }
}
@media (min-width: 1400px) {
  .showcase-section .container .showcase-left .title-container h1 {
    font-size: 86px;
  }
}
.showcase-section .container .showcase-left .title-container p {
  font-size: 1.25rem;
  line-height: 32px;
}
.showcase-section .container .showcase-left .buttons {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 756px) {
  .showcase-section .container .showcase-left .buttons {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .showcase-section .container .showcase-left .buttons {
    justify-content: flex-start;
  }
}
.showcase-section .container .showcase-left .buttons .primary-button {
  margin-bottom: 1rem;
}
@media (min-width: 756px) {
  .showcase-section .container .showcase-left .buttons .primary-button {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
.showcase-section .container img {
  display: none;
}
@media (min-width: 1200px) {
  .showcase-section .container img {
    display: inline-block;
    margin-left: -50px;
  }
}

.logos-container .container {
  text-align: center;
}

.features-section {
  border: 1px solid rgba(25, 25, 25, 0.2);
  border-radius: 2px;
  padding: 5rem 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .features-section {
    flex-direction: row;
  }
}
.features-section .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .features-section .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .features-section .container .section-title {
    padding-top: 0;
  }
}
.features-section .container .section-title h2 {
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .features-section .container .section-title h2 {
    font-size: 45px;
  }
}
.features-section .container .section-title .btn {
  display: block;
}
.features-section .container .section-title .btn a {
  display: block;
}
@media (min-width: 1200px) {
  .features-section .container .section-title .btn {
    max-width: 460px;
  }
}
@media (min-width: 1400px) {
  .features-section .container .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .features-section .container .features .feature {
    width: 307px;
  }
}
.features-section .container .features .feature i {
  padding-top: 2rem;
  font-size: 30px;
}
.features-section .container .features .feature .feature-title {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
}

.about-company-section .container {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .about-company-section .container {
    flex-direction: row-reverse;
  }
}
.about-company-section .container .text-container {
  padding: 0 2rem;
}
.about-company-section .container .text-container .section-title h2 {
  margin-top: 2rem;
}
.about-company-section .container .text-container .buttons-container {
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .about-company-section .container .text-container .buttons-container {
    display: flex;
  }
}
.about-company-section .container .text-container .buttons-container .learn-more-btn {
  width: 180px;
  height: 56px;
}
.about-company-section .container .text-container .buttons-container .video-btn-container {
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .about-company-section .container .text-container .buttons-container .video-btn-container {
    margin-top: 0;
    margin-left: 3rem;
  }
}
.about-company-section .container .text-container .buttons-container .video-btn-container .play-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #191919;
  border-radius: 30px;
  margin-right: 1rem;
  padding: 12px;
  font-size: 16px;
  text-align: center;
}
.about-company-section .container .text-container .buttons-container .video-btn-container .play-btn i {
  font-size: 1.1em;
}
.about-company-section .container .text-container .buttons-container .video-btn-container .play-btn:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}
.about-company-section .container .text-container .buttons-container .video-btn-container .intro-video {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  font-style: normal;
  text-align: center;
  color: #191919;
}
.about-company-section .container .img-container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-company-section .container .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about-company-section .container .img-container img {
  width: 100%;
}
@media (min-width: 768px) {
  .about-company-section .container .img-container img {
    width: 533px;
  }
}
.about-company-section .container .img-container .quote-box {
  position: relative;
  top: -150px;
  height: 180px;
  max-width: 368px;
  filter: drop-shadow(0px 18px 20px rgba(44, 44, 44, 0.15));
  background: #beebff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 576px) {
  .about-company-section .container .img-container .quote-box {
    top: -210px;
    right: 30px;
  }
}
@media (min-width: 768px) {
  .about-company-section .container .img-container .quote-box {
    top: -220px;
    right: 150px;
  }
}
@media (min-width: 1200px) {
  .about-company-section .container .img-container .quote-box {
    right: 110px;
  }
}
@media (min-width: 1400px) {
  .about-company-section .container .img-container .quote-box {
    right: 150px;
  }
}
.about-company-section .container .img-container .quote-box p {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  padding: 0 1rem;
}
.about-company-section .container .img-container .quote-box p span {
  color: #F94D1C;
  margin-left: 5px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  color: #f94d1c;
}
.about-company-section .container .img-container .quote-box .quote {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  font-style: italic;
  text-align: left;
  color: #191919;
}

.our-services-section {
  background: #f0efe9;
  padding-bottom: 80px;
  position: relative;
}
.our-services-section .background-lines-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.our-services-section .container {
  display: grid;
  grid-template-columns: 1fr;
}
.our-services-section .container .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .our-services-section .container .section-title {
    align-items: start;
    width: 520px;
  }
}
.our-services-section .container .services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 1200px) {
  .our-services-section .container .services {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .our-services-section .container .services {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.our-services-section .container .services .content {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 1400px) {
  .our-services-section .container .services .content {
    width: 333px;
    height: 308px;
  }
}
.our-services-section .container .services .content:hover {
  background-color: #f9d783;
}
.our-services-section .container .services .content:hover button {
  background-color: #fff;
  color: #000;
}
.our-services-section .container .services .content a {
  background-color: #000;
  color: #fff;
  width: 56px;
  height: 56px;
  padding: 12px 15px;
  border-radius: 30px;
}
.our-services-section .container .services .content .service-title {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
@media (min-width: 1200px) {
  .our-services-section .container .button-container {
    display: flex;
    justify-content: center;
  }
  .our-services-section .container .button-container button {
    width: 221px;
    height: 56px;
    background: #f0efe9;
    margin: 3rem 0;
  }
  .our-services-section .container .button-container button:hover {
    background-color: #f9d783;
  }
}

.choose-us-section .containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  gap: 20px;
  max-width: 1620px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .choose-us-section .containers {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1400px) {
  .choose-us-section .containers {
    gap: 20px;
  }
}
.choose-us-section .containers .text-content .section-title {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1200px) {
  .choose-us-section .containers .text-content .section-title {
    padding-bottom: 70px;
    padding-top: 0;
  }
}
.choose-us-section .containers .text-content .content {
  display: flex;
}
.choose-us-section .containers .text-content .content .icon i {
  margin-top: 2rem;
  font-size: 30px;
  margin-right: 30px;
  border: 1px solid #DAD9D3;
  padding: 20px;
  border-radius: 35px;
}
@media (min-width: 1200px) {
  .choose-us-section .containers .text-content .content .icon i {
    margin-bottom: 20px;
    margin-top: 1rem;
  }
}
.choose-us-section .containers .text-content .content .text .list-title {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
@media (min-width: 1200px) {
  .choose-us-section .containers .text-content .content .text .list-title {
    margin-left: 1rem;
  }
}
@media (min-width: 1200px) {
  .choose-us-section .containers .text-content .content .text .description {
    margin-left: 23px;
  }
}
@media (min-width: 1200px) {
  .choose-us-section .containers .img-content {
    position: relative;
    top: 220px;
    right: 0;
  }
}
.choose-us-section .containers .img-content img {
  width: 100%;
  padding-top: 50px;
  position: relative;
}
@media (min-width: 1200px) {
  .choose-us-section .containers .img-content img {
    width: 500px;
    height: 505px;
    padding-top: 0;
    top: -60px;
    left: 100px;
  }
}
@media (min-width: 1400px) {
  .choose-us-section .containers .img-content img {
    width: 645px;
  }
}
.choose-us-section .containers .img-content .img-bg {
  display: none;
  height: 425px;
  background: #f0efe9;
}
@media (min-width: 1200px) {
  .choose-us-section .containers .img-content .img-bg {
    width: 700px;
    display: block;
    position: relative;
    bottom: 360px;
    right: 0;
    z-index: -1;
  }
}
@media (min-width: 1400px) {
  .choose-us-section .containers .img-content .img-bg {
    width: 1000px;
  }
}

.project-section .container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}
.project-section .container .section-title {
  text-align: center;
}
.project-section .container .section-title p {
  margin-bottom: 10px;
}
.project-section .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-section .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-section .container .project-and-cases a {
  color: #191919;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.project-section .container .project-and-cases a img {
  width: 100%;
  height: auto;
}
.project-section .container .project-and-cases a h3 {
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 22px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-section .container .project-and-cases a .read-more {
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
  padding: 15px;
}
.project-section .container .project-and-cases a .read-more i {
  margin-left: 3px;
}
.project-section .container .project-and-cases a:hover .readmore {
  text-decoration: underline;
}
.project-section .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.team-section {
  background-color: #f9d783;
  padding-bottom: 80px;
}
.team-section .container .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .team-section .container .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
}
.team-section .container .section-title .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .team-section .container .section-title .title {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.team-section .container .section-title .title h2 {
  font-size: 30px;
  padding: 1rem 0;
}
@media (min-width: 992px) {
  .team-section .container .section-title .title h2 {
    font-size: 40px;
  }
}
.team-section .container .section-title .btn a {
  margin-bottom: 3rem;
  width: 221px;
  height: 56px;
  border: 1px solid #000;
}
@media (min-width: 1200px) {
  .team-section .container .section-title .btn a {
    margin-right: 0;
  }
}
.team-section .container .team-members {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .team-section .container .team-members {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .team-section .container .team-members {
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    margin: 0;
  }
}
.team-section .container .team-members .team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.team-section .container .team-members .team-member h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.team-section .container .team-members .team-member p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: rgba(25, 25, 25, 0.7);
}
.team-section .container .testimonials-container {
  background-color: #fff;
  padding-bottom: 80px;
}
.team-section .container .testimonials-container .section-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.team-section .container .testimonials-container .section-title h2 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.team-section .container .testimonials-container .quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .team-section .container .testimonials-container .quotes {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 3rem;
  }
}
.team-section .container .testimonials-container .quotes .client-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
}
@media (min-width: 576px) {
  .team-section .container .testimonials-container .quotes .client-quote {
    width: 420px;
    justify-content: flex-start;
    align-items: start;
  }
}
@media (min-width: 1200px) {
  .team-section .container .testimonials-container .quotes .client-quote {
    margin-right: 2rem;
  }
}
.team-section .container .testimonials-container .quotes .client-quote .quote {
  padding: 0 20px;
}
@media (min-width: 576px) {
  .team-section .container .testimonials-container .quotes .client-quote .customer {
    display: flex;
  }
}
.team-section .container .testimonials-container .quotes .client-quote .customer img {
  width: 70px;
  height: 70px;
}
.team-section .container .testimonials-container .quotes .client-quote .customer .customer-info {
  margin-left: 2rem;
}
.team-section .container .testimonials-container .quotes .client-quote .customer .customer-info .customer-name {
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #000;
  margin-bottom: 0.5rem;
}
@media (min-width: 576px) {
  .team-section .container .testimonials-container .quotes .client-quote .customer .customer-info .customer-name {
    margin-top: 0;
  }
}
.team-section .container .testimonials-container .quotes .client-quote .customer .customer-info .customer-role {
  padding-bottom: 3rem;
  color: #f94d1c;
  margin-top: 0;
}
.team-section .container .testimonials-container .btn {
  display: block;
}
.team-section .container .testimonials-container .btn a {
  width: 181px;
  height: 56px;
}

.blog-section .container {
  display: grid;
  grid-template-columns: 1fr;
}
.blog-section .container .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .blog-section .container .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
}
.blog-section .container .section-title h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .blog-section .container .section-title h2 {
    font-size: 35px;
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .blog-section .container .section-title h2 {
    font-size: 45px;
  }
}
.blog-section .container .section-title .btn a {
  width: 221px;
  height: 56px;
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .blog-section .container .section-title .btn a {
    margin-bottom: 0;
  }
}
.blog-section .container .section-title .btn a:hover {
  background-color: #f9d783;
}
.blog-section .container .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .blog-section .container .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .blog-section .container .content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.blog-section .container .content-container .blog-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .blog-section .container .content-container .blog-content {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .blog-section .container .content-container .blog-content {
    margin-right: 2rem;
    width: 350px;
  }
}
.blog-section .container .content-container .blog-content img {
  width: 100%;
  height: 230px;
}
@media (min-width: 1200px) {
  .blog-section .container .content-container .blog-content img {
    width: 350px;
  }
}
@media (min-width: 1400px) {
  .blog-section .container .content-container .blog-content img {
    width: 420px;
  }
}
.blog-section .container .content-container .blog-content span {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: #6a6c71;
  margin-top: 1rem;
}
.blog-section .container .content-container .blog-content h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
  margin-top: 1rem;
  margin-bottom: 0;
}
.blog-section .container .content-container .blog-content p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: rgba(25, 25, 25, 0.7);
  margin-bottom: 4rem;
}

.newsletter-section {
  background-color: #F0EFE9;
  padding: 80px 0;
  height: 100%;
  position: relative;
}
@media (min-width: 1200px) {
  .newsletter-section {
    height: 270px;
  }
}
.newsletter-section .background-lines-right {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.newsletter-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .newsletter-section .container {
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
.newsletter-section .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 55px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
@media (min-width: 1200px) {
  .newsletter-section .container h2 {
    font-size: 45px;
  }
}
.newsletter-section .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}
@media (min-width: 576px) {
  .newsletter-section .container form {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .newsletter-section .container form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 700px;
  }
}
.newsletter-section .container form input {
  border-radius: 25px;
  padding: 15px 30px;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  margin-right: 20px;
}
.newsletter-section .container form a {
  width: 100%;
  height: 56px;
  margin-bottom: 2rem;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .newsletter-section .container form a {
    margin-bottom: 0;
    margin-top: 0;
    width: 171px;
  }
}

footer {
  background-color: #0e1021;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 2rem 2rem;
}
footer .container .footer-top-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  footer .container .footer-top-part {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
@media (min-width: 1200px) {
  footer .container .footer-top-part .footer-description {
    width: 30%;
  }
}
footer .container .footer-top-part .footer-description p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
footer .container .footer-top-part .footer-links {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  footer .container .footer-top-part .footer-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
footer .container .footer-top-part .footer-links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .container .footer-top-part .footer-links ul .footer-link-title {
  color: #fff;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
}
footer .container .footer-top-part .footer-links ul a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  font-style: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
footer .container .footer-bottom-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  footer .container .footer-bottom-part {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
footer .container .footer-bottom-part .footer-icons {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=style.css.map */